*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/vcs.xml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
local.properties
*.log
.navigation/
captures/
.idea/workspace.xml
*.jks